<app-main-menu></app-main-menu>
<div class="mb-5">
  <div
      class="navbar navbar-expand-lg justify-content-center d-inline-flex w-100 text-light fs-5"
  >
    <a
      name="categoria"
      [routerLink]="['categoria']"
      class="nav-link">
      Categoria
    </a>
    <a
      name="resumo-mensal"
      [routerLink]="['resumo-mensal']"
      class="nav-link">
      Resumo Mensal
    </a>
    <a
      name="historico-pedidos"
      [routerLink]="['historico-pedidos']"
      class="nav-link">
      Histórico de Pedidos
    </a>
  </div>
</div>
<router-outlet></router-outlet>