button {
    background-color: white;
    border: none;
}

.imagem {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 100%;
    height: auto;
    width: 200px; /* largura fixa */
    height: 200px; /* altura fixa */
}