<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">Lista de Itens</h1>
        <table class="table mt-4">
          <tbody>
            <tr *ngFor="let item of itens_list">
              <td>
                <button id="btn-edit" style="background-color: green;" (click)="editItemPage(item)">Editar</button>
              </td>
              <td>
                <button id="btn-remove" style="background-color: red;" (click)="deleteItem(item)">Remover</button>
              </td>
              <td>{{ item._id }}</td>
              <td>{{ item.id_user }}</td>
              <td>{{ item.nome }}</td>
              <td>{{ item.descricao }}</td>
              <!--<td>{{ item.imagem }}</td>-->
              <td>{{ item.quantidade }}</td>
              <td>{{ item.preco }}</td>
              <td *ngFor="let pagamento of item.forma_pagamento">{{pagamento}}</td>
              <td *ngFor="let categoria of item.categoria">{{categoria}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>