<div class="container d-flex justify-content-center mt-5">
    <div class="forms text-center p-2 bg-yellow rounded p-4" style="width: 60%;">
      <h1 class="p-5">Confirmação de senha</h1>
      <div class="input-group mb-3" >
            <input name="senha"
                id="input-password"
                type="password"
                placeholder="Insira sua senha"
                class="form-control"
                aria-label="Insira sua senha"
                aria-describedby="button-addon2"
                (input)="enableButton()"
                (keyup.enter)="login()"
            >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="togglePassword()">
                    <img id="password-eye" src="\assets\images\eye.svg" alt="">
                </button>
            </div>
      </div>
      <div>
        <span name="message-span" class="failed-message d-none p" id="message-span">Email não registrado</span>
      </div>

      <button name="Confirmar" id="{{id}}" class="btn btn-primary m-2 mt-4" (click)="login()">
        Confirmar
      </button>
    </div>
  </div>
  