$blue-alt: #2d60e3;
$black-alt: #333333;

#login-button {
    width: 30%;
}

.container{
    height: 80%;
}

.failed-message{
    font-size: 14px;
    color: red;
}

.button{
    background-color: $blue-alt;
}

.button:hover{
    background-color: #2752bd;
}

img{
    transition: all 0.3s ease;
    width: 23px;
    height: 22px;
}


.svg-button img:active {
    transform: scale(0.9);
}