.text-blue{
    color: #2D60E3;    
    size: 32px;
}

.text-sub{
    color: #363636;
    font-weight: 200;
    font-size:large;
}

.btn-dark-pj{
    background-color: #363636;
    color: white;
}

.mt-5{
    margin-top: 4rem !important;
}

.p-6{
    padding-top: 3rem !important;
    padding-left: 30rem!important;
    padding-right: 30rem!important;
    padding-bottom: 5rem!important;
    background-color: #2D60E3;
    
}

.config-page {
    background-color: #2D60E3;
    font-family: 'Anek Devanagari', sans-serif;
    size: 28px;
    overflow-x: hidden;
    width: 100vw;
}
