<div class="config-page align-items-center justify-content-center">
<img src="../../../assets/logo.png" class="pt-5 img-fluid mx-auto d-block">
  <div class="p-6 ">
    <div class="bg-white rounded-3 p-5">
      <div class="d-flex flex-column">
        <h3 class="text-blue">Dados Pessoais:</h3>

        <label class="text-sub pt-2 input-group">Nome Completo</label>
        <input [(ngModel)]="user.nomeCompleto" class="form-control" type="text">
        
        <label class="text-sub pt-2 input-group">CPF</label>
        <input [(ngModel)]="user.cpf" class="form-control" type="text" mask="CPF_CNPJ">

        <label class="text-sub pt-2 input-group">Celular com DDD</label>
        <input [(ngModel)]="user.celular" class="form-control" type="text">

        <label class="text-sub pt-2 input-group">Data de Nascimento</label>
        <input [(ngModel)]="user.dataNasci" class="form-control" type="date">
      </div>

      <div class="d-flex flex-column">
        <h3 class="text-blue pt-4">Dados de Acesso:</h3>

        <label class="text-sub input-group pt-2">E-mail</label>
        <input [(ngModel)]="user.email" class="form-control" type="email">

        <label class="text-sub input-group pt-2">Confirmação do E-mail</label>
        <input [(ngModel)]="user.emailC" class="form-control" type="email">

        <label class="text-sub input-group pt-2">Senha</label>
        <input [(ngModel)]="user.senha" (keyup)="verificaSenha()" class="form-control" type="password">

        <label class="text-sub input-group pt-2">Confirmação Senha</label> 
        <input [(ngModel)]="user.senhaC" (keyup)="verificaSenha()" class="form-control" type="password">
      </div>

        <p class="" *ngIf="passwordSize"> Senha com menos de 8 dígitos</p>
        <p class="" *ngIf="passwordDiff"> Senhas não coincidem</p>
      <div class="d-flex flex-column">
        <h3 class="text-blue pt-4">Dados de Entrega:</h3>

        <label class="text-sub input-group pt-2">Endereço</label>
        <input [(ngModel)]="user.endereco"  class="form-control" type="text">

        <label class="text-sub input-group pt-2">Complemento</label>
        <input [(ngModel)]="user.complemento" class="form-control" type="text">

        <label class="text-sub input-group pt-2">CEP</label>
        <input [(ngModel)]="user.cep" class="form-control" type="text">
        
        <label class="text-sub input-group pt-2">Cidade</label>
        <input [(ngModel)]="user.cep" class="form-control" type="text">

        <label class="text-sub input-group pt-2">Estado</label>
        <input [(ngModel)]="user.cep" class="form-control" type="text">
      
      </div>
      <button (click)="enviaUser()" [disabled]="(passwordSize && passwordDiff)" type="submit" class="btn btn-lg btn-dark-pj mt-5 d-flex ms-auto text-center w-25 d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">Finalizar Cadastro</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>