<header class="pb-5 pt-1">
  <div class="container">
    <div class="text-center text-black">
      <h1 class="display-4 fw-bolder">Anunciando Produto</h1>
    </div>
  </div>
</header>

<body>
  <form (submit)="cadastrarItem(item)" class="form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="input-nome" class="label">Nome</label>
        <input type="text" class="form-control" id="input-nome" placeholder="Nome" name="nome"
          (input)="validarCadastro()" [(ngModel)]="item.nome">
      </div>
      <div class="form-group col-md-6">
        <label for="input-desc" class="label">Descrição</label>
        <input type="text" class="form-control" id="input-desc" placeholder="Descrição" name="descricao"
          (input)="validarCadastro()" [(ngModel)]="item.descricao">
      </div>
      <div class="form-group col-md-6">
        <label for="input-quantidade" class="label">Quantidade</label>
        <input type="number" class="form-control" id="input-quantidade" placeholder="Quantidade" name="quantidade"
          [(ngModel)]="item.quantidade">
      </div>
      <div class="form-group col-md-6">
        <label for="input-preco" class="label">Preço</label>
        <input type="number" class="form-control" id="input-preco" placeholder="Preço" name="preco"
          (input)="validarCadastro()" [(ngModel)]="item.preco" />
      </div>
      <div class="form-group col-md-6">
        <label for="input-pagamento" class="label">Formas de pagamento</label>
        <select id="input-pagamento" class="custom-select" name="formas-de-pagamento" (input)="validarCadastro()"
          [(ngModel)]="item.forma_pagamento" multiple>
          <option value="cartao-de-credito" name="cartao-de-credito">Cartao de credito</option>
          <option value="boleto-bancario" name="boleto-bancario">Boleto bancario</option>
          <option value="transferencia-bancaria" name="transferencia-bancaria">Transferencia bancaria</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="input-categoria" class="label">Categorias</label>
        <select id="input-categoria" class="custom-select" name="categorias" (input)="validarCadastro()"
          [(ngModel)]="item.categoria" multiple>
          <option *ngFor="let categoria of category_list">{{categoria.nome_categoria}}</option>
        </select>
      </div>
    </div>
    <button class="button" name="Cadastrar" id="button-next-2" type="submit" [disabled]="!validarCadastro()" [ngStyle]="{'background-color': !validarCadastro() ? '#D9D9D9' : 'blue', 
                      'color': !validarCadastro() ? '#999999' : 'white'}">
      Cadastrar
    </button>
  </form>
  <span class="erro-msg" name="error-msg">{{errorMsg}}</span>
</body>