<div class="main content-fluid">
    <div class="logo">
        <a href="./home">
            <img id="logo" src="\assets\images\commercin.png" alt="Logo do commercin">
        </a>
    </div>
    <div class="login-panel m-auto">
        <div class="side-panel">
            <h1 class="login-header fw-bold text-nowrap">Crie uma senha</h1>
            <h3 class="login-header text-center lh-g fw-light">Crie uma nova senha segura para sua conta.<br><br>
                A senha precisa ter pelo menos 10 caracteres, uma letra e algum símbolo.
            </h3>
        </div>

        <div class="login-form">
            <h1 class="login-header">Redefinir Senha</h1>

            <div class="input-section form-group">
                <div class="w-25 d-inline-block">
                    <label for="input-password">Nova Senha</label>
                </div>

                <div class="password-container d-inline-block w-75">
                    <input name="nova-senha" id="input-password"        
                    type="password" placeholder="Insira sua senha"
                    class="form-control d-inline-block"
                    (input)="enableButton()">
    
                    <button class="svg-button" (click)="togglePassword($event)">
                        <img id="password-eye" src="\assets\images\eye.svg" alt="">
                    </button>
                </div>
            </div>

            <div class="input-section form-group">
                <div class="w-25 d-inline-block">
                    <label for="input-password-repeat">Repetir Senha</label>
                </div>

                <div class="password-container d-inline-block w-75">
                    <input name="repetir-senha" id="input-password-repeat"        
                    type="password" placeholder="Repita sua senha"
                    class="form-control d-inline-block"
                    (input)="enableButton()" (keyup.enter)="resetPassword()">
    
                    <button class="svg-button" (click)="togglePassword($event)">
                        <img id = "password-repeat-eye" src="\assets\images\eye.svg" alt="">
                    </button>
                </div>
                
                <span name="message-span" class="failed-message w-75 d-inline-block d-none" id="message-span">As senhas não são iguais</span>

            </div>

            <div class="text-center m-auto w-50">
                <button id="reset-button" name="reset-password" class="btn btn-primary m-2 w-75" (click)="resetPassword()">
                    Redefinir
                </button>
            </div>

            <a class="link d-inline-block text-center" href="./login">Voltar para página de login</a>
            
        </div>
    </div>
</div>