th {
    background-color: #a2b9bc;
    border-color: rgb(76, 76, 76);
    border-width:2px;
    padding: 5px 20px 5px 20px;
    
    button {
        background-color: #b2ad7f;
        padding: 5px 20px 5px 20px;
        border-width:2px;
    }
}

td {
    background-color: #a2b9bc;
    border-color: rgb(76, 76, 76);
    border-width:2px;
    padding: 5px 20px 5px 20px;
    
    button {
        background-color: #b2ad7f;
        padding: 5px 20px 5px 20px;
        border-width:2px;
    }
}

#Tabela-produtos {
    margin: 12px;
}

#Tabela-titulos {
    margin-left: 12px;
}