.p-6{
    padding-top: 3rem;
    padding-left: 15rem;
}

.p-7{
    padding-left: 5rem;
    padding-top: 3rem;
    font-size: 20px;
}

.p-9{
    padding-left: 10rem;
}

.p-button{
    padding-top: 8rem;
    padding-right: 27rem;
}

.font-style{
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 300;
}