<div class="container-fluid d-flex justify-content-center">
  <div class="p-3">
    <form class="container-fluid d-flex flex-column align-items-start ms-3">
      <input
        name="data-inicio"
        class="form-control w-75"
        type="month"
        id="start-month"
      />
      <input
        name="data-fim"
        class="form-control w-75"
        type="month"
        id="end-month"
      />
      <div class="w-75 d-flex align-items-center">
        <div
          class="btn-group form-check d-flex justify-content-around flex-fill"
        >
          <span>
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="quantCheck"
              (change)="quantCheck = !quantCheck"
              name="quantidade-total-check"
              id="quant-check"
            />
            <label class="form-check-label" for="quant-check">
              Quantidade
            </label>
          </span>
          <span>
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="valCheck"
              (change)="valCheck = !valCheck"
              name="valor-total-check"
              id="val-check"
            />
            <label class="form-check-label" for="val-check">
              Valor Total
            </label>
          </span>
          <span>
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="medCheck"
              (change)="medCheck = !medCheck"
              name="média-do-valor-check"
              id="med-check"
            />
            <label class="form-check-label" for="med-check">
              Valor Médio
            </label>
          </span>
        </div>
        <button
          name="filtrar"
          class="btn btn-primary align-self-end"
          (click)="searchRange()"
        >
          Filtrar
        </button>
      </div>
    </form>

    <div class="container-fluid p-3 d-flex">
      <div class="d-flex flex-column">
        <app-list-render
          [listTitle]="'Pedidos'"
          [backendRoute]="'/pedidos/resumo'"
          [filter]="filter"
          (currentContents)="updateMetrics($event)"
        ></app-list-render>
        <h1
          name="falha"
          class="align-self-center"
          *ngIf="Object.entries(listContents).length === 0"
        >
          Não há pedidos no período!
        </h1>
      </div>
      <div class="p-3 d-flex flex-column justify-content-around">
        <span *ngIf="quantCheck" class="d-flex flex-column align-items-center">
          <label for="quant">Quantidade de Pedidos</label>
          <h2 name="quantidade-total" id="quant">
            {{ quantPedidos | number : "1.0-2" }}
          </h2>
        </span>
        <span *ngIf="valCheck" class="d-flex flex-column align-items-center">
          <label for="val">Valor Total</label>
          <h2 name="valor-total" id="val">
            {{ valorTotal | currency : "BRL" : "symbol" : "1.2-2" }}
          </h2>
        </span>
        <span *ngIf="medCheck" class="d-flex flex-column align-items-center">
          <label for="med">Valor Médio</label>
          <h2 name="média-do-valor" id="med">
            {{ media | currency : "BRL" : "symbol" : "1.2-2" }}
          </h2>
        </span>
      </div>
    </div>
  </div>
</div>
