<div class="container">
  <h2 class="title text-left">{{ item.nome }}</h2>

  <ul class="col list-group list-group-horizontal">
    <li class="list-group-item">
      <ul class="list-group m-2">
        <li class="list-group-item active">ID:</li>
        <li class="list-group-item" name="id">
          {{ item._id }}
        </li>
      </ul>

      <ul class="list-group m-2">
        <li class="list-group-item active">Nome:</li>
        <li class="list-group-item" name="nome">
          {{ item.nome }}
        </li>
      </ul>

      <ul class="list-group m-2">
        <li class="list-group-item active">Descrição:</li>
        <li class="list-group-item" name="descricao">
          {{ item.descricao }}
        </li>
      </ul>

      <ul class="list-group m-2">
        <li class="list-group-item active">Estoque:</li>
        <li class="list-group-item" name="quantidade">
          {{ item.quantidade }}
        </li>
      </ul>

      <ul class="list-group m-2">
        <li class="list-group-item active">Valor:</li>
        <li class="list-group-item" name="preco">
          {{ item.preco }}
        </li>
      </ul>

      <ul class="list-group m-2">
        <li class="list-group-item active">Formas de Pagamento:</li>
        <li class="list-group-item" name="formas-de-pagamento">
          {{ item.forma_pagamento }}
        </li>
      </ul>

      <ul class="list-group m-2">
        <li class="list-group-item active">Categorias:</li>
        <li class="list-group-item" name="categorias">
          {{ item.categoria }}
        </li>
      </ul>
    </li>
  </ul>

  <button type="button" class="btn btn-primary m-2">Comprar</button>
</div>
