<div class="container-fluid">
  <div class="row">
    <h2 class="p-6">{{ userLogged.nomeCompleto }}</h2>
    <div class="col-md-15">
      <div class="p-5 container-fluid">
        <p class="d-inline-block pl-6">Nome</p>
        <p class="d-inline-block pl-7">CPF</p>
        <p class="d-inline-block pl-7">E-mail</p>
        <p class="d-inline-block pl-7">Remove</p>
        <p class="d-inline-block pl-7">Promote</p>
        <hr class="my-4 ml-8">
        <div class="m-9 pt-3">
          <input class="form-control input-group-lg " type="search" placeholder="Search" aria-label="Search"/>
        </div>
  
        <div class="pt-5 container-fluid pl-8">
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let u of listaUsers">
                  <td class="text-column"> {{ u.nomeCompleto }} </td>
                  <td class="text-column cpf"> {{ u.cpf }} </td>
                  <td class="text-column email"> {{ u.email }} </td>
                  <td class="x">
                    <button class="btn btn-danger text-column p-2" (click)="delteUser(u)">X</button>
                  </td>
                  <td class="admin">
                    <button class="btn btn-primary text-column">Admin</button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>