body{
    overflow-y: auto;
}

.p-6{
    padding-left: 15rem;
}

.pl-6{
    padding-left: 23rem;
}
.pl-7{
    padding-left: 13rem;
}

.pl-8{
    padding-left: 18rem;
}

.pl-9{
    padding-left: 9rem;
}
.ml-8{
    margin-left: 15rem;
    margin-right: 15rem ;
}

.m-9{
    padding-left: 25rem;
    padding-right: 25rem;
}

.p-9{
    padding-left: 20rem;
    padding-right: 20rem;
}

.text-column{
    font-size: 18px;
    font-family: 'Anek Devanagari', sans-serif;
}

.btn-config{
    height: 70%;
    width: 50%;
}

.btn-1{
    background-color: #2D60E3;
    color: white;
}

.btn-2{
    background-color: #555;
    color: white;
}