.p-6{
    padding-top: 2rem;
    padding-left: 15rem;
}

.pl-6{
    padding-left: 23rem;
}
.pl-7{
    padding-left: 12rem;
}

.pl-8{
    padding-left: 18rem;
}

.pl-9{
    padding-left: 3.5rem;
}
.ml-8{
    margin-left: 15rem;
    margin-right: 15rem ;
}

.m-9{
    padding-left: 25rem;
    padding-right: 25rem;
}

.p-9{
    padding-left: 20rem;
    padding-right: 20rem;
}

.text-column{
    font-size: 18px;
    font-family: 'Anek Devanagari', sans-serif;
    width: 18%;
}
.cpf{
    width: 10%;
}
.email{
    padding-left: 5.5rem;
    width: 18%;
}

.x{
    padding-left: 7rem;
    width: 20%;
}

.admin{
    padding-left: 3rem;
}
