<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">Editar Item</h1>
        <form (submit)="updateItem()">
          <div class="form-group">
            <label for="input-nome">Nome:</label>
            <input type="text" class="form-control" id="input-nome" (input)="validarEdicao()" [(ngModel)]="itemModifiqued.nome" value="{{ item.nome }}">
          </div>
          <div class="form-group">
            <label for="input-desc">Descrição:</label>
            <input type="text" class="form-control" id="input-desc" (input)="validarEdicao()" [(ngModel)]="itemModifiqued.descricao" value="{{ item.descricao }}">
          </div>
          <!--<div class="form-group">
            <label for="imagem">Imagem:</label>
            <input type="text" class="form-control" id="imagem" (input)="validarEdicao()" [(ngModel)]="itemModifiqued.imagem" value="{{ item.imagem }}">
          </div>-->
          <div class="form-group">
            <label for="input-quantidade">Quantidade:</label>
            <input type="number" class="form-control" id="input-quantidade" (input)="validarEdicao()" [(ngModel)]="itemModifiqued.quantidade" value="{{ item.quantidade }}">
          </div>
          <div class="form-group">
            <label for="input-preco">Preço:</label>
            <input type="number" class="form-control" id="input-preco" (input)="validarEdicao()" [(ngModel)]="itemModifiqued.preco" value="{{ item.preco }}">
          </div>
          <div class="form-group">
            <label for="input-pagamento" class="label">Formas de pagamento:</label>
            <select id="input-pagamento" class="custom-select" name="input-pagamento" (input)="validarEdicao()"  [(ngModel)]="itemModifiqued.forma_pagamento" multiple>
              <option value="cartao">Cartão de crédito</option>
              <option value="boleto">Boleto bancário</option>
              <option value="transferencia">Transferência bancária</option>
              <option value="dinheiro">Dinheiro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="input-categoria" class="label">Categorias:</label>
            <select id="input-categoria" class="custom-select" name="input-categoria" (input)="validarEdicao()" [(ngModel)]="itemModifiqued.categoria" multiple>
              <option *ngFor="let categoria of category_list">{{categoria.nome_categoria}}</option>
            </select>
          </div>       
          <button
          class="btn btn-primary" 
          type = "submit">
            Atualizar</button>
        </form>
      </div>
    </div>
  </div>
  