<div class="gl">
  <div class="gl-content">
    <div class="gl-header">
      <h4>Link de Compartilhamento</h4>
      <div class="voltar" (click)="goBack()">voltar</div>
    </div>
    <div class="gl-body">
      <input type="text" #input1 style="border-radius: 5px; width: 450px; display: inline-flex;" placeholder="Link original" name="Link original">
      <br><br>
      <input type="text" #input2 style="border-radius: 5px; display: inline-flex;" placeholder="Nome do novo link" name="Nome do novo link">
        <span style="color: red;"> min: 8 caracteres; max: 15 caracteres</span>
    </div>
    <div class="gl-footer">
      <button (click)="generateAndCopyValidCustomLink(input1, input2)" name="Gerar">Gerar</button>
    </div>
  </div>
</div>