<div class="gl">
  <div class="gl-content">
    <div class="gl-header">
      <h4>Link de Compartilhamento</h4>
      <div class="voltar" (click)="goBack()">voltar</div>
    </div>
    <div class="gl-body">
      <input type="text" #input1 style="border-radius: 5px;" placeholder="Link original">
      <input type="text" #input2 style="border-radius: 5px;" placeholder="Nome do novo link">
    </div>
    <div class="gl-footer">
      <button (click)="generateAndCopyCustomLink(input1, input2)">Gerar</button>
    </div>
  </div>
</div>