<div>
  <button (click)="toggle()">Gerar Link</button>

  <div class="gl-modal" *ngIf="showModal === true">
    <div class="gl-m-content">
      <div class="gl-m-header">
        <h4>Link de Compartilhamento</h4>
        <div class="fechar" (click)="toggle()">fechar</div>
      </div>
      <div class="gl-m-body">
        <input type="text" #inputElement placeholder="Nome do link">
      </div>
      <div class="gl-m-footer">
        <button (click)="copyToClipboard(inputElement)">Gerar</button>
      </div>
    </div>
  </div>
</div>