<div class="main content-fluid">
    <div class="logo">
        <a href="./home">
            <img id="logo" src="\assets\images\commercin.png" alt="Logo do commercin">
        </a>
    </div>
    <div class="login-panel m-auto">
        <div class="side-panel">
            <h1 class="login-header fw-bold text-nowrap">Perdeu a senha?</h1>
            <h3 class="login-header text-center lh-g fw-light">Insira o email da sua conta cadastrada para recuperar sua conta.<br><br>
                Um link de recuperação será enviado para seu email.</h3>
        </div>

        <div class="login-form">
            <h1 class="login-header">Recuperar conta</h1>

            <div class="input-section form-group">
                <div class="w-25 d-inline-block">
                    <label for="input-email">Email</label>
                </div>
                <input name="email" id="input-email"
                    type="email" placeholder="Insira seu email"
                    class="form-control d-inline-block w-75"
                    (input)="enableButton()" (keyup.enter)="requestReset()">

                <span name="message-span" class="failed-message w-75 d-inline-block d-none" id="message-span">Email não registrado</span>

            </div>

            <div class="text-center m-auto w-50">
                <button name ="Enviar" id="request-button" class="btn btn-primary button m-2 w-75" disabled="true" (click)="requestReset()">
                    Enviar
                </button>
            </div>
            
            <div class="link text-center"><a href="./login">Voltar para página de login</a></div>
            
        </div>
    </div>
</div>
  