<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <div class="row justify-content-center mt-5">
            <div class="col-md-6">
               <table class="table">
                  <tr>
                     <td><label>Nome:</label></td>
                     <td><input [(ngModel)]="categoria.nome_categoria" name="namebox" placeholder="Insira o Nome da Categoria" class="form-control"></td>
                  </tr>
                  <tr>
                     <td><label>Descrição:</label></td>
                     <td><input [(ngModel)]="categoria.descricao_categoria" name="descbox" placeholder="Insira a Descrição da Categoria" class="form-control"></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <div class="d-flex justify-content-between">
                           <button routerLink="/categoria" class="btn btn-primary">Cancelar</button>
                           <button (click)="createCategoria(categoria)" class="btn btn-primary">Adicionar</button>
                        </div>
                        <br>
                        <app-alert [message]="alertMessage" *ngIf="alertCategoria"></app-alert>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>