<div class="container-fluid page-header d-flex flex-column">
  <div class="align-self-center mb-2">
    <a href="./home">
      <img
        id="logo"
        src="\assets\images\commercin.png"
        alt="Logo do commercin"
      />
    </a>
  </div>
  <div class="container-fluid d-inline-flex align-items-center mt-1 mb-3">
    <div class="w-75 d-inline-flex justify-content-end">
      <form class="w-66 d-inline-flex search-bar" role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
    <div class="option">
      <div class="hamburger">
        <div class="line" id="line1"></div>
        <div class="line" id="line2"></div>
        <div class="line" id="line3"></div>
      </div>
      <div class="sidebar">
        <ul class="menu">
          <li class="menu-item">
            <a
              name="Login"
              [routerLink]="['/login']"
              *ngIf="!isLoggedIn"
              class="menu-link"
              >Login</a
            >
          </li>
          <li class="menu-item">
            <a
              name="Logout"
              [routerLink]="['/login']"
              *ngIf="isLoggedIn"
              class="menu-link"
              (click)="logout()"
              >Logout</a
            >
          </li>
          <li class="menu-item">
            <a
              name="Cadastro-Usuario"
              [routerLink]="['/Cadastro-Usuario']"
              *ngIf="!isLoggedIn"
              class="menu-link"
              >Cadastro-Usuario</a
            >
          </li>
          <li class="menu-item">
            <a
              name="Gerar-Link"
              class="menu-link"
              >Gerar-link</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-general-main-page *ngIf="!isLoggedIn"></app-general-main-page>
